ul {
  list-style-type: none;
}

li {
  background-color: #9898e4;
  position: relative;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
}

.btn-delete {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: transparent;
  height: 100%;
  width: 50px;
  text-align: center;
  font-size: small;
  font-weight: bold;
}

.btn-delete:hover {
  border: none;
  transform: rotate(360deg);
  transition: all 500ms linear;
}
